<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Timer" value="10000"/>
    //add connection details below
    <add key="ConnectionString" value="data source= ;database= ;uid= ;pwd=;timeout=600"/>
  </appSettings>
</configuration>